version: '3'
services:
  web:
    image: webdevops/php-apache:alpine
    working_dir: /var/www/html
    volumes:
      - ./app:/var/www/html
    ports:
      - "8080:80"
    environment:
      - PHP_DISPLAY_ERRORS=1
      - PHP_MEMORY_LIMIT=256M
      - PHP_MAX_EXECUTION_TIME=60

  db:
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: laravel
      MYSQL_USER: laraveluser
      MYSQL_PASSWORD: laravelpassword
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
